body {
    background-image:url(concept_geometric_shapes_background_vector_536424\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}


div {
    height: 100px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {color: white;}